

.jumbotron-head {
    background-color: #993333;
    color: #f6f6f6;
}

header {
    height: auto;
    padding: 10px;
    background-color: rgb(153, 51, 51);
    color: white;

}

header input[type="radio"]{
    background-color: transparent;
}

.note {
    font-weight: normal;
}

.req {
    color: #c00;
    font-size: 150%;
    font-weight: bold;
    line-height: 1em;

}


input[name="SubmitButton"] {
    color: black;
}

body {
    position: relative;
}

header label {
    margin-bottom: 0;
    margin-left: 2px;
}

#searchType label {

}

button.dropdown-toggle {
    padding: 15px;
}

.nav-submenu li {
    list-style-type: none;
}

.nav-submenu li li {
    padding-top: .25em;
    padding-bottom: .25em;
}

.nav-submenu li a {
    color: #993333;
}

.nav-submenu > li > a:hover {
    color: #ffffff;
    background-color: #993333;
}

.nav-submenu > li li:hover {
    color: #333333;
    background-color: #f9f9f9;
}

.nav-submenu > li.active > ul {
    display: block;
}
.nav-submenu > li > ul {

}
.nav-submenu > li > ul > li > a,
.nav-submenu > li > ul > li a:hover {
    padding-left: 15px;
    border-left: 2px solid #ffffff;
}
.nav-submenu > li > ul > li.active > a,
.nav-submenu > li > ul > li:hover > a,
.nav-submenu > li > ul > li:focus > a,
.nav-submenu > li > ul > li.active a:hover,
.nav-submenu > li > ul > li:hover a:hover,
.nav-submenu > li > ul > li:focus a:hover,
.nav-submenu > li > ul > li.active a:active,
.nav-submenu > li > ul > li:hover a:active,
.nav-submenu > li > ul > li:focus a:active,
.nav-submenu > li > ul > li.active a:focus,
.nav-submenu > li > ul > li:hover a:focus,
.nav-submenu > li > ul > li:focus a:focus {
    border-color: #777777;
}

#menuItem {
    display: none;
}

#itemDropdown {
    margin-left: 10px;
    background-color: white;
    border: none;
    color: #993333;
}



@media(max-width: 768px){
    header input[name="SearchType"], label[for="SearchTypeActive"], label[for="SearchTypeAll"] {
        visibility: hidden;
        position: absolute;
    }

    .content-wrap .navbar {
        width: 100%;
    }

    .alert-warning {
        width: 100%;
    }

    .navbar form {
        box-shadow: none;
    }

    label[for="SearchCriteria"]{
        width: 100%;
    }

    .nav>li:not(:first-child){
        display: none;
    }

    #menuItem {
        display: block;
        border-width: 6px;
        border-style: solid;
        border-radius: 5px;
        border-color: lightgrey;
    }

    #menuButton {
        background-image: url('../hamburgerIcon.png');
        background-size: 32px 32px;
        background-position: 4px 4px;
        background-repeat: no-repeat;
        padding-left: 40px;
        padding-bottom: 5px;
        padding-top: 5px;
        font-size: 1.5em;
    }

    nav.navbar {
        margin-bottom: 5px;
    }

    input[name="SubmitButton"]{
        width: 50%;
        float: right;
        margin-top: 1%;
    }
}